{
    "presets": [
        [
            "@babel/preset-env",
            {
                "useBuiltIns": "usage", //不需要把polly都打包到代码中，根据代码按需转译
                "corejs": 3,
            }
        ]
    ],
    "plugins": [
        [
            "@babel/plugin-transform-runtime"
        ]
    ]
}